[*.cs]

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = suggestion

# CS8604: Dereference of a possibly null reference.
dotnet_diagnostic.CS8604.severity = suggestion
